extends layout

block content
	h1 #{title}

	// form(method='post')
	form(method='POST' action='/samplelibrary/genre/create')
		div.form-group
			label(for='name') Genre:
			input#name.form-control(name='name', type='text', placeholder='Fantasy, Poetry etc.', value=(undefined===genre ? '' : genre.name), required='true')
		button.btn.btn-primary(type='submit') Submit

	if errors 
		ul  
			for error in errors
				li!= error.msg
