doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href="/samplelibrary/public/styles/dark.css" rel="stylesheet")
	body.bg-0
		div.container-fluid
			div.row
				div.col-sm-4
					block sidebar
						ul.sidebar-nav.list-unstyled
							li
								a(href='/') Homepage
							li
								a(href='/samplelibrary') Sample Library Homepage
							li  
								a(href='/samplelibrary/books') All books
							li  
								a(href='/samplelibrary/authors') All authors
							li  
								a(href='/samplelibrary/genres') All genres
							li  
								a(href='/samplelibrary/bookinstances') All book-instances
							li  
								hr
							li 
								a(href='/samplelibrary/author/create') Create new author
							li
								a(href='/samplelibrary/genre/create') Create new genre
							li
								a(href='/samplelibrary/book/create') Create new book
							li
								a(href='/samplelibrary/bookinstance/create') Create new book instance (copy)

				div.col-sm-8
					block content
