extends layout

block content                    
	h1= title
	p
		| Mozilla has a tutorial for creating a demo site that can
		| store book information for a library.

	h2 Instructions
	p
		| The other column has hyperlinks to webpages that can get and
		| insert information into the library book database. In order
		| to insert a book the corresponding author and genre must have
		| been inserted first. To insert a new book instance the book
		| information must be inserted first.

	h1 Dynamic content

	if error
		p Error getting dynamic content. 
	else                                            
		p The library has the following record counts: 
		ul.list-unstyled      
			li #[strong Books:] !{data.book_count}        
			li #[strong Copies:] !{data.book_instance_count} 
			li #[strong Copies available:] !{data.book_instance_available_count}  
			li #[strong Authors:] !{data.author_count} 
			li #[strong Genres:] !{data.genre_count} 
